<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <style>
        body {
            background-size: cover;
            background-image: url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=http%3A%2F%2Fcfile1.uf.tistory.com%2Fimage%2F99F78C505E5085042A1BDD');
        }
    </style>
    <!-- <script>
        function change1(){
            window.location.href="test.html"
        }
    </script>     -->

</head>
<body>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">된다!!!!!!!!!!!!!!!!!!!!!</span>
        <input type="text" class="form-control" placeholder="ex)영등포구" aria-label="Username" aria-describedby="basic-addon1">
        <span class="input-group-text" id="basic-addon1">법정동명</span>
        <input type="text" class="form-control" placeholder="ex)신길6동" aria-label="Username" aria-describedby="basic-addon1">
        <span class="input-group-text" id="basic-addon1">층수</span>
        <input type="text" class="form-control" placeholder="ex)10층미만이면 0 아니면 1을 입력해주세요." aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">임대건물명</span>
        <input type="text" class="form-control" placeholder="다세대/연립,단독/다가구,아파트,오피스텔 중에 입력해주세요." aria-label="Username" aria-describedby="basic-addon1">
        <span class="input-group-text" id="basic-addon1">임대면적(평수)</span>
        <input type="text" class="form-control" placeholder="10평 미만의 경우 10을 입력해주세요." aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">전월세구분</span>
        <input type="text" class="form-control" placeholder="전세,월세,준월세,준전세 중에서 입력해주세요." aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <button type="button" class="btn btn-secondary btn-lg" style="margin: auto; display: block;" onClick="location.href='PAGENAME.html'" >검색</button>
</body>
</html>